body {
  margin: none;
  padding: none;
  font-family: 'Titillium Web', sans-serif;
  background: #c0c0c0 no-repeat;
  background-size: cover;
}

.content {
  background: #c0c0c0; 
  width: 650px;
  margin: 80px auto 0;
  border-radius: 5px;
  min-height: 596px;
  overflow: hidden; 
  background: rgba(255,255,255);
  border: 100px;
}

.login-box {
  width: 590px;
  position: absolute;
  margin-left: 35px;
  margin-top: 30px;
}

.txt {
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif, #333333;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 4px 0;
  margin-top: 8px 0;
  border-radius: 20px;
}

.textbox input i {
  border: none;
  outline: none;
  background: none; 
  margin-left: 20px;
  width: 100px;
}

.btn {
  width: 80%;
  background: #1e1e1e;
  margin-top: 35px;
  font-family: 'Titillium Web', sans-serif, #1e1e1e;
}

.pad-2 {
  padding: 9px;
}

footer {
    font-family: 'Titillium Web', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255,0.5);
}









